.nav{
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    width: 50%;
    justify-content: space-between;
}
.title{
    font-size: 32px;
    color: rgb(114, 219, 132);
    font-family: cursive;
}
.custom_link{
    color: rgba(114, 219, 132, 0.452);
    font-size: 25px;
    padding-left: 20px;
}
